@{
    ViewBag.Title = "About";
}
<div class="row vc_row">
    <div class="col-md-8">
        <div class="heading main-heading centered uppercase"><h4 class="sub-title" style=";font-size:30px"><span class="main-color">About</span> Clinic</h4><div class="heading-separator"><span class="main-bg"></span><span class="dark-bg"></span></div></div>
        <div class="wpb_text_column wpb_content_element  heading-desc centered">
            <div class="wpb_wrapper">
                <p style="text-align: justify;">MNAS Clinic at&nbsp;Baner, Pune has been established in 2016 for<strong> Psychiatry and Sexology treatment</strong>. MNAS Clinic has played a pivotal role in improving the health and well-being of a number of patients facing mental challenges. By developing a doctor-patient relationship, the doctor in clinic forges a bond with the patient so as to understand the behavioral pattern of the patient. With a proper study and observation of abnormalities related to the mood, behavior, and cognition, the <strong>psychiatrist diagnosis</strong> the problem and suggests adequate treatment for the same.</p>
                <p style="text-align: justify;">At our clinic, we offer <strong>treatments for psychological problems</strong> which include&nbsp;Depression, Anxiety,&nbsp;Dementia problem,&nbsp;Child and&nbsp;Adolescent issue, De-Addiction and Mental Disorders&nbsp;for our patients for treating their mental problems.&nbsp;We also offer treatments for sexual problems which include&nbsp;Premature Ejaculation,&nbsp;Erectile Dysfunction,&nbsp;Hypersexuality,&nbsp;Psychological Sexual Disorder, Male Sexual Disorder and Female Sexual Disorder for our patients.</p>
                <p style="text-align: justify;">The doctor does a thorough check of the physical health of the patient to ensure whether the disorder is a combination of a physical and mental ailment or is only a mental ailment. The psychiatrist is involved in&nbsp;counseling the patients as well as prescribing medication and at times, laboratory tests, depending on the case.</p>
                <p style="text-align: justify;">We are dedicated to directly improve the health and well-being of our patients and to develop professional and&nbsp;personal relationships with them&nbsp;by providing the best care to every patient with integrated clinical practice, research, and education.&nbsp;Visit us at MNAS Clinic for the <a href="http://www.mnasclinic.com/"><strong>best psychiatry and Sexology treatment</strong></a>.</p>

            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="vc_empty_space" style="height: 52px"><span class="vc_empty_space_inner"></span></div>

        <div class="wpb_single_image wpb_content_element vc_align_left">

            <figure class="wpb_wrapper vc_figure">
                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="750" height="502" src="http://www.mnasclinic.com/wp-content/uploads/2018/02/dr-roshita-khare-baner-pune-psychiatrists-kcedam.jpg" class="vc_single_image-img attachment-full" alt="" srcset="http://www.mnasclinic.com/wp-content/uploads/2018/02/dr-roshita-khare-baner-pune-psychiatrists-kcedam.jpg 750w, http://www.mnasclinic.com/wp-content/uploads/2018/02/dr-roshita-khare-baner-pune-psychiatrists-kcedam-300x201.jpg 300w, http://www.mnasclinic.com/wp-content/uploads/2018/02/dr-roshita-khare-baner-pune-psychiatrists-kcedam-20x13.jpg 20w" sizes="(max-width: 750px) 100vw, 750px"></div>
            </figure>
        </div>

    </div>

    <div class="col-md-12">
        <div class="container">
            <div class="vc_row vc_custom_1519320093065 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">

                            </div>
                            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                        </div>
                    </div>
                </div><div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_raw_code wpb_raw_js">
                                <div class="wpb_wrapper">
                                    <practo:abs_widget widget="a843f363c242c2d8"></practo:abs_widget>
                                    <script src="https://www.practo.com/bundles/practopractoapp/js/abs_widget_helper.js"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
