@{
    ViewBag.Title = "Contact";
}
<div id="contentWrapper" style="min-height: 40px;">


    <div class="section" style="background-color: #f1f1f1;">
        <div class="container">
            <div class="row vc_row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="vc_row vc_custom_1519320093065 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-8">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h3 style="text-align: center;">Say good bye to depression, anxiety, stress, anger, mood swings and boring sexual life. Move from frantic doing to calm being.</h3>

                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-4">
                            </div>
                        </div>
                    </div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                    <div class="container">
                        <div class="vc_row">
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <div class="white-bg lg-box shape new-angle">
                                                    <h4>Address</h4>
                                                    <p>
                                                        301, Sri Sai Chaithanya, Opp. PMC garden,<br>
                                                        Pancard Club Road, Baner, Pune, MH. 411045
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <div class="white-bg lg-box shape new-angle">
                                                    <h4>Appointment</h4>
                                                    <p>Mobile: +91 95450 55753</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <div class="white-bg lg-box shape new-angle">
                                                    <h4>E-mail Address</h4>
                                                    <p>
                                                        info@mnasclinic.com<br>
                                                        enquiry@mnasclinic.com
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="section">
        <div class="container">
            <div class="row vc_row">
                <div class="col-md-6 contact-form-2">
                    <div class="heading side-head head-5 main-color"><h4 class="main-color" style="text-transform:uppercase;font-size:20px;font-weight:bold">Leave Us A Message</h4></div><div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>

                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <div role="form" class="wpcf7" id="wpcf7-f7569-p5004-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="/contact-us/#wpcf7-f7569-p5004-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="7569">
                                        <input type="hidden" name="_wpcf7_version" value="5.0">
                                        <input type="hidden" name="_wpcf7_locale" value="en_US">
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f7569-p5004-o1">
                                        <input type="hidden" name="_wpcf7_container_post" value="5004">
                                    </div>
                                    <div class="center_contact">
                                        <div class="form-input">
                                            <span class="f-label">Your Name <span class="red">*</span></span><br>
                                            <span class="wpcf7-form-control-wrap your-name"><i class="fa fa-info comment-validate" style="display:none"></i><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required shape form-control new-angle" aria-required="true" aria-invalid="false"></span>
                                        </div>
                                        <div class="form-input">
                                            <span class="f-label">Your Email <span class="red">*</span></span><br>
                                            <span class="wpcf7-form-control-wrap your-email"><i class="fa fa-info comment-validate" style="display:none"></i><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email shape form-control new-angle" aria-required="true" aria-invalid="false"></span>
                                        </div>
                                        <div class="form-input">
                                            <span class="f-label">Subject</span><br>
                                            <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text shape form-control new-angle" aria-invalid="false"></span>
                                        </div>
                                        <div class="form-input">
                                            <span class="f-label">Message</span><br>
                                            <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea shape form-control new-angle" aria-invalid="false"></textarea></span>
                                        </div>
                                        <div class="form-input clearfix captcha-div">
                                            <br>
                                            <input type="hidden" name="_wpcf7_captcha_challenge_captcha-1" value="3593220937"><img class="wpcf7-form-control wpcf7-captchac wpcf7-captcha-captcha-1" width="72" height="24" alt="captcha" src="http://www.mnasclinic.com/wp-content/uploads/wpcf7_captcha/3593220937.png"><span class="wpcf7-form-control-wrap captcha-1"><input type="text" name="captcha-1" value="" size="40" class="wpcf7-form-control wpcf7-captchar sm-txtbox" autocomplete="off" aria-invalid="false"></span>
                                        </div>
                                        <div class="form-input button-group"><input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit submit-btn shape btn vc_btn3 vc_btn3-size-lg main-bg btn-large new-angle"><span class="ajax-loader"></span></div>
                                    </div>
                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="heading side-head head-5 main-color"><h4 class="main-color" style="text-transform:uppercase;font-size:20px;font-weight:bold">FIND US</h4></div><div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div>

                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.3573691353604!2d73.77051781413823!3d18.557920472876138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bec812dd7eef%3A0x864cbe766c491b02!2sMNAS+CLINIC!5e0!3m2!1sen!2sin!4v1518963694088" width="100%" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




</div>